@charset "UTF-8";
@import url("node_modules/leaflet/dist/leaflet.css");
@import url("node_modules/bootstrap/dist/css/bootstrap.min.css");

:root {
    --map-height: 60vw;
    --map-max-height: 90vh;
    --row-pad: 5px;
}

/* bootstrap overrides */

.no-gutter {
    --bs-gutter-x: 0;
}

/* media queries */

/* xs */
@media screen and (min-width: 0px) {
    .resp-margin {
        margin-left:2px;
        margin-right:2px;
    }
    .resp-padding {
        padding-left:2px;
        padding-right:2px;
    }
}

/* s */
@media screen and (min-width: 576px) {
    .resp-margin {
        margin-left:2px;
        margin-right:2px;
    }
    .resp-padding {
        padding-left:2px;
        padding-right:2px;
    }
}

/* m */
@media screen and (min-width: 768px) {
    .resp-margin {
        margin-left:12px;
        margin-right:12px;
    }
    .resp-padding {
        padding-left:12px;
        padding-right:12px;
    }
}

/* l */
@media screen and (min-width: 992px) {
}

/* xl */
@media screen and (min-width: 1200px) {
    #side-menu {
        height: fit-content;
    }
}

/* xxl */
@media screen and (min-width: 1400px) {
    #side-menu {
        height: var(--map-height);
        max-height: var(--map-max-height);
    }
}

/* end media queries */

body {
    background-color: white;
}

/* <map> */

#map {
    height:var(--map-height);
    max-height: var(--map-max-height);
    width:100%;
    border:1px solid grey;
}

#map .leaflet-div-icon {
    height: fit-content !important;
    width: fit-content !important;
    margin: 0 !important;
    background: none;
    border:none;
}

#map .position-icon {
    position: absolute;
    border-radius: 50%;
    width:12px;
    height:12px;
    top:-6px;
    left:-6px;
    padding:2px;
    border: 2px solid white;
}

.position-marker:hover .position-icon, .position-marker.selected .position-icon {
    width:14px !important;
    height:14px !important;
    top:-7px !important;
    left:-7px !important;
    padding: 0px !important;
}

#map .position-label {
    position: absolute;
    top:5px;
    left:5px;
    color: black;
    text-shadow: 1px 1px 2px white;
    white-space: nowrap;
}

.position-marker:hover .position-label, .position-marker.selected .position-label{
    font-weight: bold;
}


/* </map> */

#side-menu {
    background-color: gainsboro;
}

#group-list {
    height:fit-content;
    max-height: 30vw;
    padding-left:0px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#group-list, .edit-form {
    background-color: #fff;
}

.edit-form {
    padding: var(--row-pad);
    margin: 0;
}

.group-list-item {
    list-style: none;
}

.position-list {
    padding-left:0;
}

.position-row {
    margin:0;
}

.clickable {
    cursor: pointer;
}

.handle {
    cursor: grab !important;
}

.ghost {
    background-color: lightgrey;
    opacity: 0.5;
    font-size: 0%;
}

.position-row.selected, .group-row.selected {
    background-color:cornflowerblue;
}

.position-row:hover:not(.position-row.selected), .group-row:hover:not(.group-row.selected) {
    background-color: #eee;
}

.group-row {
    list-style: none;
    border-top: 1px solid gainsboro;
}

#position-input {
    min-height: 30vh;
}
