<div
  class="group-row row mx-auto no-gutter"
  data-bind="click: function() { $root.selectGroupById(group.id); }, css: { selected: group.selected }"
>
  <!-- Toggle Collapse -->
  <div class="col">
    <button
      type="button"
      class="btn btn-sm shadow-none"
      title="Collapse/expand group"
      data-bind="hidden: group.collapsed, click: function(){ group.collapse(); }, clickBubble: false"
    >
      <i class="fa-solid fa-angle-down"></i>
    </button>
    <button
      type="button"
      class="btn btn-sm shadow-none"
      title="Collapse/expand group"
      data-bind="visible: group.collapsed, click: function(){ group.expand(); }, clickBubble: false"
    >
      <i class="fa-solid fa-angle-right" data-bind="visible: group.collapsed"></i>
    </button>
  </div>
  <!-- Toggle Visibility -->
  <div class="col">
    <button
      type="button"
      class="btn btn-sm shadow-none"
      title="Toggle visibility"
      data-bind="visible: group.visible, click: function(){ $root.hidePositionGroup(group.id); }, clickBubble: false"
    >
      <i class="fa-solid fa-eye"></i>
    </button>
    <button
      type="button"
      class="btn btn-sm shadow-none"
      title="Toggle visibility"
      data-bind="hidden: group.visible, click: function(){ $root.showPositionGroup(group.id); }, clickBubble: false"
    >
      <i class="fa-solid fa-eye-slash"></i>
    </button>
  </div>
  <!-- Group Name -->
  <div class="col-8"><b data-bind="text: group.name"></b></div>
  <!-- Position Count -->
  <div class="col-1">
    <i class="fa-solid fa-location-dot"></i>
    <span data-bind="text: group.positions().length"></span>
  </div>
  <!-- Delete button -->
  <div class="col">
    <button
      type="button"
      class="btn btn-sm shadow-none"
      title="Delete group"
      data-bind="click: function() { $root.deletePositionGroup(group.id); }, clickBubble: false"
    >
      <i class="fa-solid fa-trash-can"></i>
    </button>
  </div>
</div>
