<div id="import-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-fullscreen-lg-down">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Import positions from CSV</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- Lat/long number format -->
      <div class="modal-body">
        <div class="row mb-2">
          <label class="col-sm-2 col-form-label col-form-label-sm"
            ><b>Latitude/Longitude Format</b></label
          >
          <div class="col-sm-10">
            <select class="form-select">
              <option value="1" selected>Decimal Degrees</option>
              <option value="2" disabled>Degrees, Minutes and Seconds (Not yet supported)</option>
              <option value="3" disabled>Degrees and Decimal Minutes (Not yet supported)</option>
            </select>
          </div>
        </div>
        <!-- Lat/long header mapping -->
        <div class="row mb-2">
          <label class="col-sm-2 col-form-label col-form-label-sm"><b>Column Mapping</b></label>
          <div class="col-sm-10">
            <select class="form-select" data-bind="value: formData.columnMappingOption">
              <option value="1" selected>Auto</option>
              <option value="2">Specify column names</option>
            </select>
            <p data-bind="visible: formData.columnMappingOption() == 1">
              Coordinates will attempted to be read from the columns named
              <code>latitude</code> and <code>longitude</code>. If those column headers are not
              found, the first two columns will be used.
            </p>
            <p data-bind="visible: formData.columnMappingOption() == 2">
              Coordinates will be read from the specified columns, other columns will be ignored.
            </p>
          </div>
        </div>
        <div class="row mb-2" data-bind="visible: formData.columnMappingOption() == 2">
          <div class="col-sm-2"></div>
          <label class="col-sm-2 col-form-label col-form-label-sm"><b>Latitude Column</b></label>
          <div class="col-sm-8">
            <input
              type="text"
              class="form-control"
              id="position-input-lat-col-name"
              placeholder="latitude"
              data-bind="textInput: formData.latitudeColName"
            />
          </div>
        </div>
        <div class="row mb-2" data-bind="visible: formData.columnMappingOption() == 2">
          <div class="col-sm-2"></div>
          <label class="col-sm-2 col-form-label col-form-label-sm"><b>Longitude Column</b></label>
          <div class="col-sm-8">
            <input
              type="text"
              class="form-control"
              id="position-input-long-col-name"
              placeholder="longitude"
              data-bind="textInput: formData.longitudeColName"
            />
          </div>
        </div>
        <!-- CSV file select -->
        <div class="row mb-2">
          <label for="position-input" class="col-sm-2 col-form-label col-form-label-sm"
            ><b>File</b>
            <br />
            Read data from a file
          </label>
          <div class="col-sm-10">
            <div class="input-group mb-3">
              <input
                type="file"
                class="form-control"
                id="position-input-file"
                data-bind="event: {change: selectedFileChanged}"
              />
            </div>
          </div>
        </div>
        <!-- CSV text -->
        <div class="row mb-2">
          <label for="position-input" class="col-sm-2 col-form-label col-form-label-sm"
            ><b>CSV Data</b></label
          >
          <div class="col-sm-10">
            <textarea
              class="form-control"
              id="position-input"
              rows="3"
              placeholder="48.858093, 2.294694"
              data-bind="textInput: formData.importText, attr: { 'placeholder': formData.importTextPlaceholder}"
            ></textarea>
          </div>
        </div>
        <!-- Select group -->
        <div class="row mb-2">
          <label class="col-sm-2 col-form-label col-form-label-sm"><b>Group Option</b> </label>
          <div class="col-sm-10">
            <select class="form-select" data-bind="selectedOptions: formData.groupId">
              <option value="0" selected>Add as a new group</option>
              <optgroup
                label="Add to an existing group:"
                data-bind="foreach: { data: model.positionGroups, as: 'group'}"
              >
                <option data-bind="value: group.id, text: 'Add to ' + group.name()"></option>
              </optgroup>
            </select>
          </div>
        </div>
        <!-- Filtering -->
        <div class="row mb-2">
          <label class="col-sm-2 col-form-label col-form-label-sm"
            ><b>Enable Downsampling</b>
            <br />
            Import the first, last and every Nth row
          </label>
          <div class="col-sm-1">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                data-bind="checked: formData.enableDownsampling"
                id="position-input-filter-sample-size"
              />
            </div>
          </div>
          <div class="col-sm-9" data-bind="visible: formData.enableDownsampling()">
            Take every
            <input
              type="number"
              class=""
              id="position-input-sample-size"
              placeholder="2"
              data-bind="textInput: formData.filterSampleSize"
              min="2"
            />
            <span data-bind="text: formData.ordinalForSampleSize"></span> row
          </div>
        </div>
        <!-- Error log -->
        <div class="mb-2" data-bind="visible: formData.errorMessages().length > 0">
          <ul
            id="import-errors"
            class="list-unstyled alert alert-danger"
            data-bind="foreach: { data:  formData.errorMessages, as: 'error'}"
          >
            <li>
              <i class="fa-solid fa-triangle-exclamation"></i>
              <span data-bind="text: error"></span>
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-bind="click: importPositions">
          Import Positions
        </button>
      </div>
    </div>
  </div>
</div>
